{% extends 'base.html.twig' %}

{% block title %}{{ 'metasite.admin.subscriber.title'|trans }}{% endblock %}

{% block body %}
    {% include '@MetasiteAdmin/admin/naviation.html.twig' only %}
    <h1>{{ 'metasite.admin.subscriber.title'|trans }}</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <tr>
            <th>{{ 'metasite.admin.subscriber.uuid'|trans }}</th>
            <th class="text-center">
                {{ 'metasite.admin.subscriber.name'|trans }}<br/>
                <a href="{{ path('admin_homepage', { sort: 'name', sorttype: 'ASC' }) }}" class="btn btn-xs btn-link">{{ 'metasite.admin.sort.asc'|trans }}</a> |
                <a href="{{ path('admin_homepage', { sort: 'name', sorttype: 'DESC' }) }}" class="btn btn-xs btn-link">{{ 'metasite.admin.sort.desc'|trans }}</a>
            </th>
            <th class="text-center">
                {{ 'metasite.admin.subscriber.email'|trans }}<br/>
                <a href="{{ path('admin_homepage', { sort: 'email', sorttype: 'ASC' }) }}" class="btn btn-xs btn-link">{{ 'metasite.admin.sort.asc'|trans }}</a> |
                <a href="{{ path('admin_homepage', { sort: 'email', sorttype: 'DESC' }) }}" class="btn btn-xs btn-link">{{ 'metasite.admin.sort.desc'|trans }}</a>
            </th>
            <th>{{ 'metasite.admin.subscriber.category'|trans }}</th>
            <th class="text-center">
                {{ 'metasite.admin.subscriber.created_at'|trans }}<br/>
                <a href="{{ path('admin_homepage', { sort: 'created_at', sorttype: 'ASC' }) }}" class="btn btn-xs btn-link">{{ 'metasite.admin.sort.asc'|trans }}</a> |
                <a href="{{ path('admin_homepage', { sort: 'created_at', sorttype: 'DESC' }) }}" class="btn btn-xs btn-link">{{ 'metasite.admin.sort.desc'|trans }}</a>
            </th>
            <th class="text-center">{{ 'metasite.admin.subscriber.updated_at'|trans }}</th>
            <th></th>
            <th></th>
        </tr>
        {% for subscriber in data %}
        <tr>
            <td>{{ subscriber.uuid }}</td>
            <td>{{ subscriber.name }}</td>
            <td>{{ subscriber.email }}</td>
            <td>{{ subscriber.category|subscriber_category_constant }}</td>
            <td>{{ subscriber.createdAt }}</td>
            <td>{{ subscriber.updatedAt }}</td>
            <td>
                <a href="{{ path('subscriber_update', { uuid: subscriber.uuid }) }}" class="btn btn-primary">
                    {{ 'metasite.admin.subscriber.form.update'|trans }}
                </a>
            </td>
            <td>
                <a href="{{ path('subscriber_delete', { uuid: subscriber.uuid }) }}" class="btn btn-danger">
                    {{ 'metasite.admin.subscriber.form.delete'|trans }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
