{% extends 'base.html.twig' %}

{% block title %}{{ 'metasite.admin.subscriber.update_title'|trans }}{% endblock %}

{% block body %}
    {% include '@MetasiteAdmin/admin/naviation.html.twig' only %}
    <h1>{{ 'metasite.admin.subscriber.update_title'|trans }}</h1>
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            {{ form_label(form.category) }}
            {{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.category) }}
        </div>

        {{ form_widget(form.save, { 'label': 'metasite.admin.subscriber.form.update'|trans, 'attr': {'class': 'btn btn-default'} }) }}
    {{ form_end(form) }}
{% endblock %}
