{% extends 'base.html.twig' %}

{% block title %}{{ 'metasite.admin.login_title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'metasite.admin.login_title'|trans }}</h1>

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <form action="{{ path('login') }}" method="POST">
        <div class="form-group">
            <label for="username">{{ 'metasite.admin.form.username'|trans }}</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="{{ 'metasite.admin.form.username'|trans }}">
        </div>

        <div class="form-group">
            <label for="password">{{ 'metasite.admin.form.password'|trans }}</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="{{ 'metasite.admin.form.password'|trans }}">
        </div>

        <button type="submit" class="btn btn-default">{{ 'metasite.admin.form.login'|trans }}</button>
    </form>
{% endblock %}
