<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('admin_homepage') }}">{{ 'metasite.admin.homepage'|trans }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('logout') }}">{{ 'metasite.admin.logout'|trans }}</a></li>
            </ul>
        </div>
    </div>
</nav>
